/* Shared Styles */
/* Font used */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    margin: 0px;
}

header,
main,
footer {
    padding: 20px 70px;
}

.primary-color {
    color: #FF5400;
}

/* Nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #424247;
    text-align: center;
    font-size: 0.5rem;
    font-weight: 400;
}

.head-img {
    width: 20%;
}

.hero {
    color: #131318;
    font-size: 1rem;
    font-weight: 800;
}

.nav-items li {
    list-style: none;
}

.nav-items li a {
    text-decoration: none;
    padding: 0.5rem;
}

/* Header section styles */
.header {
    background-image: url(../images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-title {
    color: #FFF;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    padding-top: 70px;
}

.header-description {
    color: #FFF;
    text-align: center;
    padding: 20px 100px;
    font-size: 0.5rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.drop-down {
    padding: 3px;
    margin: 20px 70px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    bottom: 2rem;
}

.box {
    width: 70px;
    height: 15px;
    margin: 5px;
    background: #F3F3F3;
    border: 1px solid tomato;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box p {
    color: rgba(19, 19, 24, 0.50);
    font-size: 0.5rem;
    font-weight: 400;
}

#find {
    background-color: #FF5400;
}

.header-image {
    background: none;
    width: 15%;
}

#w-w1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#w-w2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main styles */
.tours {
    display: flex;
}

.tours-content {
    width: 600px;
    padding-right: 30px;
}

.tours-img {
    width: 100%;
}

.tours-head {
    color: #131318;
    font-size: 1rem;
    font-weight: 800;
    padding-bottom: 15px;
}

.description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 0.5rem;
    font-weight: 400;
    padding: 7px;
}

.list {
    margin-left: 0px;
    padding-left: 25px;
}

.btn {
    border-radius: 3px;
    border: 0px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 0.6rem;
    font-weight: 800;
    padding: 5px 10px;
}

/* destination styles */

.destination-heading {
    color: #131318;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 2.5rem;
}

#destination-description {
    padding: 1rem 7rem;
    padding-bottom: 2rem;
    text-align: center;
}

.destination-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.destination-2 {
    display: grid;
    grid-template-columns: 32% 41% 23% repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.destination-3 {
    display: grid;
    grid-template-columns: 40.5% 57.5% repeat(2, 1fr);
    gap: 10px;
}

.destination-image {
    width: 100%;
}

.destination-1,
.destination-2,
.destination-3 {
    position: relative;
}

.place-2 {
    position: absolute;
    top: 50%;
    right: 20%;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
}

#img-1 {
    right: 70%;
}

#img-2 {
    right: 77%;
}

#img-3 {
    top: 45%;
    right: 35%;
}

#img-4 {
    top: 45%;
    right: 6%;
}

#img-5 {
    top: 45%;
    right: 20%;
}

#img-6 {
    top: 45%;
    right: 72%;
}
/* Creative  */
.packages {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
}
.p{
    border: 0.005rem solid turquoise;
    border-radius: 0.5rem;
    background: rgba(41, 206, 246, 0.05);
    padding: 1rem;
}
.p img {
    width: 20%;
}
.p h3 {
    font-size: 0.75rem;
    margin-bottom: 0.3rem;

}
.p p {
    font-size: 0.5rem;
    color: (19, 19, 24, 0.70);
}
.p-head {
    margin-top: 2rem;
    text-align: center;
}
.pppppp{
    
    font-size: 0.5rem;
    padding: 0 6rem;
    margin-top: 0.5rem;
    text-align: center;
    color: (19, 19, 24, 0.70);
}


/* style section  */
#tours {
    margin-top: 2rem;
}

#head-2{
    margin: 0rem;
}
#description-1{
    margin: 0rem;  
}
#list {
    margin: 0rem;
}



/* Section-3 style */

.section-3-head {
    color: #131318;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.section-3-description {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 0.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
    padding: 0rem 7rem;
}

.frame-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.frame {
    border-radius: 0.5rem;
    border: 0.001rem solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 0.4rem;
}

.frame h4 {
    color: #131318;
    font-size: 1rem;
    font-style: normal;
    font-weight: 800;
    padding: 0.5rem 0rem;
}

.frame p {
    color: #5A5A5D;
    font-size: 0.5rem;
    font-weight: 400;
    padding: 0.2rem 0rem;
}

#frame-last {
    left: 50%;
    position: relative;
}

#frame-mid {
    border-radius: 0.5rem;
    border: 0.005rem solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.frame-image {
    width: 10%;
}
#last-heading{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Section-4 style */
.section-4 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 40% 60% repeat(2, 1fr);
    gap: 0.5rem;
}

.pl {
    width: 100%;
}

.img-description {
    border-radius: 0.5rem;
    background: #FF5400;
    padding: 0.5rem;
    margin-left: 1rem;
    text-align: center;
    position: relative;
    bottom: 4rem;
    left: 12rem;
    width: 30%;
    transform: rotate(-25.628deg);
}

.img-description p {
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #FFF;
}

.save {
    margin-top: 0px;
    color: #FFF;
    font-size: 0.75rem;
    padding-top: 0px;
}

.com {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 0.5rem;
    font-weight: 400;
}

.subscribe {
    border: 0.01rem solid #FF5400;
    border-radius: 0.5rem;
    padding: 0.5rem;
    height: 11.5rem;
}

.section-4-head {
    color: #131318;
    font-size: 1rem;
    font-weight: 800;
}

.paragraph {
    color: #5A5A5D;
    font-size: 0.5rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}

.input {
    padding: 0.5rem 10%;
    margin-top: 0.5rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.submit {
    padding: 0.5rem 35%;
    margin-top: 0.5rem;
    border-radius: 8px;
    background: #FF5400;
    color: white;
    font-size: 0.75rem;
    font-weight: 800;
    border: none;
}


/* Footer-styles */
footer {
    background: rgba(19, 19, 24, 0.05);
}

.hero-img {
    width: 4%;
}

#footer-heading {
    margin-top: 1rem;
}

.footer-description {
    color: #5A5A5D;
    text-align: center;
    font-size: 0.5rem;
    font-weight: 400;
    padding: 0.75rem 5rem;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons img {
    padding: 0.5rem;
    width: 4%;
}

.copy-right {
    color: #131318;
    text-align: center;
    font-family: Inter;
    font-size: 0.5rem;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 3rem;
}


/* media query */
@media screen and (max-width: 576px) {

    .destination-1,
    .destination-2,
    .destination-3,
    .frame-container,
    .section-4,
    .packages{
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .drop-down,
    nav,
    .tours {
        flex-direction: column;
    }

    .header-description {
        padding: 0px;
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        flex-direction: row-reverse;
        flex-wrap: wrap;

    }

    #destination-description {
        padding: 0.5rem;
    }

    .btn {
        margin: 10px;
        margin-left: 0px;
    }

    .description {
        width: 35%;
    }

    .drop-down {
        width: 100%;
        margin-left: 0px;
        padding: 3px;
        margin: 5px;
    }

    .nav-items {
        display: none;
    }

    .hero {
        font-size: .5rem;
    }

    .head-img {
        width: 10%;
    }
    .description{
        padding: 0rem;
        width: 100%;
        margin: 0rem;
    }
    #frame-last{
        left: 0%;
        position: relative;
    }
    .submit {
        /* padding: 0rem; */
        padding: 0.5rem 42%;
    }
    .input {
        padding: 0.5rem 29%;

    }
    .img-description {
        left: 16rem;
        bottom: 4.5rem;
    }
    .subscribe {
        width: 100%;
        height: 100%;
    }

}